<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <span class="title">TheBookworm</span>
    <div class="loginbox">
      {{#if user}}
        <img src="{{user.image}}" />
        <div class="vert-container">
          <div style="overflow: hidden;">Hello {{user.name}}</div>
          <div><a href="/account/{{user.id}}">My Account</a></div>
        </div>
      {{else}}
        <img src="/images/headshot_placeholder.png" />
        <div class="vert-container">
          <div style="overflow: hidden;">Hello Anonymous,</div>
          <div><a href="/signin">Sign in</a></div>
        </div>
      {{/if}}
    </div>
  </header>

  <section>


    {{{body}}}


  </section>

  <footer>
    &copy; 2019 Jonathan Shahen, Syeda Noor Jaha Azim, Nasheen Kalam, and Chetan Joshi
  </footer>
</body>

</html>
