<article id="book_details_page">
    <div class="vert-container">
        <div class="hori-container">
            <img class="book-cover-lg" src="/images/book_covers/{{book.book_id}}.jpeg" />

            <div class="book-details">
                <h1 class="no-bottom-pm  no-top-pm">{{book.title}}</h1>
                <div class="font-normal no-top-pm no-bottom-pm">by
                    <ul class="authors">
                        {{#each book.authors}}
                            <li><a href="/author/{{this.author_id}}/{{this.name}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                <p class="font-normal">{{book.synopsis}}</p>
            </div>
        </div>

        {{!-- <div>
            <h4>Book Description</h4>
            <p class="font-normal no-top-pm">{{book.synopsis}}</p>
        </div> --}}

        <div class="product-detail">
            <h4>Book Details</h4>
            <ul class="font-normal no-top-pm">
                {{#if book.pages}}
                    <li>
                        <b>Print Length:</b>
                        {{book.pages}} Pages
                    </li>
                {{/if}}
                {{#if book.publisher}}
                    <li>
                        <b>Publisher:</b>
                        {{book.publisher}}
                    </li>
                {{/if}}
                {{#if book.series}}
                    <li>
                        <b>Series:</b>
                        {{book.series}}
                    </li>
                {{/if}}
                {{#if book.isbn13}}
                    <li>
                        <b>ISBN-13:</b>
                        {{book.isbn13}}
                    </li>
                {{/if}}
                {{#if book.isbn10}}
                    <li>
                        <b>ISBN-10:</b>
                        {{book.isbn10}}
                    </li>
                {{/if}}
                {{#if book.categories}}
                    <li>
                        <b>Genres:</b>
                        <ul class="book_categories">
                            {{#each book.categories}}
                                <li><a href="/category/{{this.category_id}}/{{this.name}}">{{this.name}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                {{/if}}
            </ul>
        </div>

        <div class="flex-container">
            <div class="submit-review">
                <h4 class="no-bottom-pm">{{book.num_reviews}} Customer Reviews</h4>
                <p class="no-top-pm">
                    {{{getStarHTML book.avg_rating}}}
                    <span class="font-normal">{{book.avg_rating}} out of 5</span>
                </p>
                {{#if user}}
                    <form class="enter-user-review" action="#" method="post">
                        <input type="hidden" name="book_id" value="{{book.book_id}}" />
                        <div class="rate-this-book">
                            <b class="full-width">Rate this Book:</b>
                            <select class="enter-rating" name="rating">
                                <option value="5">5 (Loved it)</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1 (Hated it)</option>
                            </select>
                        </div>
                        <textarea class="review-comment" placeholder="(Optional) Tell us what you thought of the book!"
                            name="review_comment"></textarea>
                        <div class="flex-space-between">
                            <span></span>
                            <input class="review-btn" type="submit" value="Submit">
                        </div>
                        {{#if submitted_review}}
                            {{#if success}}
                                <div class="success font-normal">Successfully added your review. Thanks</div>
                            {{else}}
                                <div class="error font-normal">
                                    An error occurred when trying to add your review. Sorry.
                                </div>
                            {{/if}}
                        {{/if}}
                    </form>
                {{else}}
                    <a href="/account/signin">Please login to write a review for this book</a>
                {{/if}}
            </div>
            <div class="reviews">
                {{#if book.reviews}}
                    <ul class="font-normal">
                        {{#each book.reviews}}
                            <li>
                                <div class="flex-center-align">
                                    <img src="/images/user_avatars/{{this.user_id}}.png" />
                                    <span>{{this.display_name}}</span>
                                </div>

                                {{{getStarHTML this.rating}}}

                                <div class="font-small">{{formatDate this.date_created}}</div>

                                <div class="user-review-text">
                                    {{this.review}}
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <div class="info">There are no reviews at the moment, why don't you fix that problem.</div>
                {{/if}}
            </div>
        </div>
</article>
