<article id="landing_page">
    <div class="searchbox">
        <form class="input-container" action="/search" method="get">
            <i class="fa fa-search icon"></i>
            <input class="input-field" type="text" placeholder="Search using Book Name, Author, or Keyword" name="s">
        </form>
    </div>

    <div class="heading font-xlarge">Top 15 Rated Books of All Time</div>

    <div class="vert-spacing-15"></div>

    {{#each books}}
    <div class="book-long">
        <img class="book-cover" src="/images/book_covers/{{book_id}}.jpeg" />
        <span class="book-details">
            <a href="/book/{{book_id}}/{{title}}" class="book-title font-large">{{title}}</a>
            <span class="book-authors font-normal">By
                <a href="/author/{{author_id}}/{{author_name}}">{{author_name}}</a>
            </span>
            <span class="book-description font-normal">{{synopsis}}</span>
        </span>
        <span class="book-deals">
            <span class="book-deal">
                <ul>
                    <li class="center"><i class="fab fa-amazon"></i></li>
                    <li class="font-normal">Rating: {{amazon_rating}}</li>
                    <li class="font-normal"># Reviews: {{amazon_num_reviews}}</li>
                    <li><a href="{{amazon_link}}" class="font-small deal-amazon">Click here to Buy</a></li>
                </ul>
            </span>
        </span>
    </div>

    <div class="divider"></div>

    {{/each}}
</article>

<nav>
    <div class="heading">Book of the Day</div>

    <div class="bookoftheday">
        <div class="book">
            <img class="book-cover" src="/images/book_covers/{{bookoftheday.book_id}}.jpeg" />
            <span class="book-details">
                <a href="#" class="book-title font-large">{{bookoftheday.title}}</a>
                <span class="book-authors font-normal">By
                    <a href="/author/{{bookoftheday.author_id}}/{{bookoftheday.author_name}}">{{bookoftheday.author_name}}</a>
                </span>
                <span class="book-description font-normal">{{bookoftheday.synopsis}}</span>
            </span>
        </div>
    </div>

    <div class="vert-spacing-15"></div>

    <div class="heading font-large">Recommendations</div>
    <div class="recommendationlist">
        {{#each recommendations}}
        <div class="book">
            <img class="book-cover" src="{{book_cover}}" />
            <span class="book-details">
                <a href="#" class="book-title font-large">{{title}}</a>
                <span class="book-authors font-normal">By
                    {{#each authors}}
                    <a href="/author/{{this}}">{{this}}</a>
                    {{/each}}
                </span>
                <span class="book-description font-normal">{{synopsis}}</span>
            </span>
        </div>
        {{/each}}
    </div>
</nav>