<div style="width:100%;padding: 20px;">
    <div class="searchbox">
        <form class="input-container" action="/search" method="get">
            <i class="fa fa-search icon"></i>
            <input class="input-field" id="searchBox" type="text"
                placeholder="Search using Book Name, Author, or Keyword" name="s"
                {{#if search_term}}value="{{escapeQuotes search_term}}"{{/if}}>
        </form>
        {{#if search_term}}
            <span class="font-normal">We found {{num_books}} books matching <span
                    class="search-term">"{{search_term}}"</span>.</span>
        {{/if}}
    </div>

    <div class="vert-spacing-15"></div>

    {{#if books}}
        {{#each books}}
            <div class="book-long">
                <img class="book-cover" src="/images/book_covers/{{book_id}}.jpeg" />
                <span class="book-details">
                    <a href="/book/{{book_id}}/{{title}}" class="book-title font-large">{{title}}</a>
                    <span class="book-authors font-normal">By
                        <a href="/author/{{author_id}}/{{author_name}}">{{author_name}}</a>
                    </span>
                    <span class="book-description font-normal">{{synopsis}}</span>
                </span>
                <span class="book-deals">
                    <span class="book-deal">
                        <ul>
                            <li class="center"><i class="fab fa-amazon"></i></li>
                            <li class="font-normal">Rating: {{amazon_rating}}</li>
                            <li class="font-normal"># Reviews: {{amazon_num_reviews}}</li>
                            <li><a href="{{amazon_link}}" class="font-small deal-amazon">Click here to Buy</a></li>
                        </ul>
                    </span>
                </span>
            </div>

            <div class="divider"></div>
        {{/each}}
    {{else}}
        Sorry, we could not find the book you were looking for. Please try searching for something else.
    {{/if}}
</div>
