<article>
    <div class="searchbox">
        <div class="input-container">
            <i class="fa fa-search icon"></i>
            <form action="https://git.uwaterloo.ca/jmshahen/ece651-project/blob/master/src/web/views/search.hbs" method="get">
            <input class="input-field"
                   type="text"
                   placeholder="Search using Book Name, Author, or Keyword"
                   name="s">
            <input type="submit" style="display:none">
            </form>
        </div>
    </div>

    <div class="vert-spacing-15"></div>

    {{#each books}}
        <div class="book-long">
            <img class="book-cover"
                 src="{{book_cover}}" />
            <span class="book-details">
                <a href="#"
                   class="book-title font-large">{{title}}</a>
                <span class="book-authors font-normal">By
                    {{#each authors}}
                        <a href="/author/{{this}}">{{this}}</a>
                    {{/each}}
                </span>
                <span class="book-description font-normal">{{synopsis}}</span>
            </span>
            <span class="book-deals">
                {{#each this.deals}}
                    <span class="book-deal">
                        <ul>
                            <li class="center"><i class="{{image_class}}"></i></li>
                            <li>Rating: {{rating}}</li>
                            <li><a href="{{link_to_buy}}"
                                   class="font-small deal-amazon">Click here to Buy</a></li>
                        </ul>
                    </span>
                {{/each}}
            </span>
        </div>

        <div class="divider"></div>

    {{/each}}
</article>